@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-black: rgb(19, 18, 18);
  --color-white: rgb(232, 232, 232);
  --color-main: 154, 138, 120;
  --color-footer: 38, 38, 38;
  --color-none: none;
}
